---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Blog">
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde voy a postear sobre mi viaje de aprendizaje Astro.</p>
</BaseLayout>