---
import Social from "./Social.astro";

const social = [
  {
    platform: "github",
    username: "carlosandf",
  },
  {
    platform: "twitter",
    username: "andresfont12",
  },
  {
    platform: "instagram",
    username: "carlos_flrz",
  },
];
---

<footer>
  <section class="socialMedia">
    {
      social.map(({ platform, username }) => (
        <div>
          <Social platform={platform} username={username}>
            {platform}
          </Social>
        </div>
      ))
    }
  </section>
</footer>

<style>
  .socialMedia {
    display: flex;
    gap: 2rem;
  }
</style>
