---
const routes = [
  {
    label: "Inicio",
    path: "/",
  },
  {
    label: "Sobre mi",
    path: "/about",
  },
  {
    label: "Blog",
    path: "/blog",
  },
];
---

<nav>
  <ul>
    {
      routes.map((route) => (
        <li>
          <a href={route.path}>{route.label}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    padding: 1rem;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
  }
</style>
