---
const routes = [
  {
    label: 'Inicio',
    path: '/'
  },
  {
    label: 'Sobre mi',
    path: '/about'
  },
  {
    label: 'Blog',
    path: '/blog'
  },
]
---
<nav>
  <ul>
    {routes.map(route => (
      <li><a href={route.path}>{route.label}</a></li>
    ))}
  </ul>
</nav>

<style>
  nav {
    padding: 10px;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 5px;
    gap: 20px;
    list-style: none;
  }
</style>